<div class="container"> 
     <div class="card border-0" [@formAnimation]="showForm1 ? 'form1' : 'form2'"> 
       <div class="step-row">
         <div id="progress" [style.width]="progressWidth"></div>
         <div class="step-col"><small>Step1</small></div>
         <div class="step-col"><small>Step2</small></div>
         <div class="step-col"><small>Step3</small></div>
       </div>
       
       <form *ngIf="showForm1" [@formAnimation]="'form1'" action="" class="form1">
         <div class="zone-nom-container">
           <div class="nom-container">
             <p [ngClass]="{'error' : nameEmpty}" > {{nameLabel}} </p>
             <input type="text" placeholder="nom" [(ngModel)]="name">
           </div>
           <div class="prenom-container">
             <p [ngClass]="{'error1' : prenomEmpty}" > {{prenomLabel}} </p>
             <input type="text" placeholder="prénom" [(ngModel)]="prenom" >
           </div>
         </div>
         <div class="id-container">
           <div class="matricule-container">
             <p [ngClass]="{'error2': matriculeEmpty}" > {{matriculeLabel}} </p>
             <input type="text" placeholder="matricule"  [(ngModel)]="matricule" >
           </div>
           <div class="telephone-container">
             <p [ngClass]="{'error3' : telephoneEmpty}" >{{telephoneLabel}}</p>
             <input type="text" placeholder="telephone" [(ngModel)]="telephone" >
           </div>
         </div>
         <div class="email-container">
           <div class="box-container">
             <p [ngClass]="{'error4' : emailEmpty}" > {{emailLabel}} </p>
             <input type="email" placeholder="Email" [(ngModel)]="email" >
           </div>
           <div class="btn-container">
             <button type="button" (click)="goToNextStep()" class="btn btn-lg btn-primary w-100 fs-6">Suivant</button>
           </div>
         </div>
       </form>
   
       <form *ngIf="!showForm1"  [@formAnimation]="'form2'"  action="" class="form2">
         <p style="margin-top: 20px;">Veuillez choisir un rôle pour l'utilisateur</p>
         <div class="select-container"> 
           <select name="" id="" class="form-select select1">
             <option value="0">Opex</option>
             <option value="0">Contre-Maitre</option>
             <option value="0">Chef-Segment</option>
             <option value="0">Expert</option>
             <option value="0">Admin</option>
             <option value="0">Admin-Secondaire</option>
           </select>
           <select name="" id="" class="form-select">
             <option value="1" selected>Catégorie</option>
           </select>
         </div>
         <div class="button-container">
           <button type="button" (click)="goToPrevStep()" class="btn btn-lg btn-primary w-100 fs-6">Précédent</button>
           <button type="button" class="btn btn-lg btn-primary w-100 fs-6">Suivant</button>
         </div>
       </form>
     </div>
   </div>
   