<nav class="navbar">
     <div class="container">
         <div class="logo">
             <h4><a type="button" (click)="navigateToHome()"><img src="../assets/images/letter-c.png" alt=""></a>CIP</h4>
         </div>
         <div class="list-container">
             <div class="dropdown">
                 <a  type="button" (click)="toggleMenu( 'LanguageDropdown' , $event)"  class="nav-item item" >Language</a>
                 <div id="LanguageDropdown" class="dropdown-content" *ngIf="menu.LanguageDropdown">
                     <a type="button" class="item">Anglais</a>
                     <a class="item" type="button">Français</a>
                     <a class="item" type="button">Arabe</a>
                 </div>
             </div>
             <a type="button"  class="nav-item"><img src="../assets/images/notification.png" width="30px" alt=""></a>
             <div class="dropdown">
                 <a type="button" class="nav-item item" (click)="toggleMenu( 'UserDropdown' , $event)">Nom d'utilisateur <img src="../assets/images/user.png" alt="" width="30px"></a>
                 <div id="UserDropdown" class="dropdown-content" *ngIf="menu.UserDropdown">
                     <a class="item" type="button" (click)="navigateToProfile()">Profile</a>
                     <a class="item" type="button" (click)="navigateToParametre()">Paramétres</a>
                     <a class="item" type="button" (click)="navigateToHome()">Déconnexion</a>
                 </div>
             </div>
             <a type="button" class="nav-item item" onclick="toggleMenu($event)">Menu</a>
         </div>
     </div>
   </nav>
   
   
   
   
   